{{!-- main --}}
{{#if title.length}}<h1>{{title}}</h1>{{/if}}
{{#if subtitle.length}}<h2>{{subtitle}}</h2>{{/if}}
{{#if text.length}}<p>{{text}}</p>{{/if}}
{{!-- icon --}}
{{#if icon.length}}
	<i class="{{icon.class}}"></i>
	<p>{{icon.title}}</p>
{{/if}}
{{!-- button --}}
{{#if link.length}}<a href="{{link_url}}">{{link_title}} <i></i></a>{{/if}}