{{#extend 'base'}}
	{{#content 'header'}}{{/content}}
	{{#content 'wr'}}

		<section class="offer-learn_html" id="particles-js">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-lg-12">
						<a href="#" class="logo">code<em>.</em>mba <span>Обучение <b>IT-</b>профессиям</span></a>

						<hgroup class="eye_catcher-html">
							<h1 class="h1 slider-content-title c-dark super-title"><span>ПРОФЕССИЯ</span> <br><b>HTML</b><em>-верстальщик</em></h1>
							<h2>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{{!-- <i class="seoicon-seo-landing-pages-symbol-inside-a-circle"></i> --}}
								<em><small><u>за</u></small></em><br>
								<span><b><u>4</u><u>2</u></b></span>
								<strong><small><u>дня</u></small></strong>
							</h2>
							<img alt="slider" src="img/slider3.png" class="img_new">
						</hgroup>
					</div>

				</div>
			</div>
		</section>

		<section class="it_education-job">
			<div class="container">
				<div class="row">

					<div class="col-lg-4">
						<section class="job-statistics">
							<canvas id="myChart" width="360" height="360"></canvas>
							<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
							<script type="text/javascript" src="js/donut-chart.js"></script>
							<ul>
								<li><b>23% &mdash; </b>аналитика в профессии</li>
								<li><b>42% &mdash; </b>техническая сторона</li>
								<li><b>17% &mdash; </b>креативность и творчество</li>
								<li><b>28% &mdash; </b>повторяющиеся действия</li>
							</ul>
						</section>
					</div>

					<div class="col-lg-7 offset-lg-1">
						{{!-- {{>extra/title it_education.body.html.job class="align-left"}} --}}
						<section class="job-info">
							<hgroup class="align-left">
								<h2>Суть работы</h2>
								<div class="heading-line">
									<span class="short-line"></span>
									<span class="long-line"></span>
								</div>
							</hgroup>
							<p>Имея дизайн сайта в <b>Photoshop</b>, необходимо через Редактор Кода повторить <small>его</small> <b>1</b><em>- в -</em><b>1</b> <small>в</small> Браузере <b>—</b> <span>преобразовать картинку в код.</span> <br>Каждый элемент дизайна описывается кодом. Делая замеры в <b>Photoshop</b>, все значения подставляются в Код. <br><span>Результат <b>—</b> сверстаный сайт</span>.</p>
							<ul>
								<li>
									<i class="seoicon-lightbulb-on"></i>
									<em><b>482</b> </em>открытых вакансий <a href="#">прямо сейчас</a>
								</li>
								<li>
									<i class="seoicon-coins"></i>
									<em><b>67.100</b> <small>руб.</small> </em>средняя ЗП в месяц
								</li>
								<li>
									<i class="seoicon-settings-symbol-with-up-arrow-in-a-circle"></i>
									<em><b>74%</b> </em>рост популярности профессии
								</li>
							</ul>
						</section>
					</div>

				</div>
			</div>
		</section>

		<section class="order-education">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-xs-12">
						{{>extra/title order_education}}
						<form>
							<div class="row">
								<div class="col-lg-8 no-padding">
									<input class="site" type="text" placeholder="Как к вам обращаться?" required="required">
								</div>
								<div class="col-lg-4 no-padding">
									<input class="email" type="email" placeholder="Ваш Email" required="required">
								</div>
							</div>
							<button class="btn">Записаться<span class="semicircle"></span></button>
						</form>
					</div>
				</div>
			</div>

			<div class="decor">
				<img src="img/seoscore1.png" alt="image">
				<img src="img/seoscore2.png" alt="image">
				<img src="img/seoscore3.png" alt="image">
			</div>
		</section>

		<section class="it_education-author">
			<div class="container">
				<div class="row">

					<div class="col-lg-5 col-md-5 col-xs-12">
						<section class="author-slider">
							<p>Портфолио автора</p>
							<div class="author-slider__inner">
								<div class="author-slider__content">
									<div class="author-slider__item">
										<img src="img/product-details.png" alt="">
									</div>
									<div class="author-slider__item">
										<img src="img/product-details.png" alt="">
									</div>
									<div class="author-slider__item">
										<img src="img/product-details.png" alt="">
									</div>
								</div>
							</div>
							<div class="author-slider__dots"></div>
						</section>
					</div>

					<div class="col-lg-6 offset-lg-1 col-md-6 offset-md-1 col-xs-12">
						<section class="author-info">
							<h3>Автор курса</h3>
							<h4 style="position: relative;">Алексеев Вадим <img src="img/alex1.jpg" style="position:absolute; bottom:0; right:0; border-radius:50%; width:120px;"></h4>
							<ul class="raiting">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
							<a href="#">3 пользователя оценили Автора</a>
							<p><b>Frontend-</b>разработчик с <b>10-</b>летним стажем, <b>Web-</b>евангелист, владелец собственной фирмы по верстке сайтов. Всего <b>500+</b> завершённых проектов. Сертифицированный <b>SCRUM-</b>мастер. Более <b>3</b> лет в <b>IT-</b>образовании.</p>
							<a href="#question-popup" class="btn js-open-popup">
								Задать вопрос автору
								<i class="seoicon-chat-comment"></i>
								<span class="semicircle"></span>
							</a>
						</section>
						<ul class="author-footer">
							<li class="workplace">Место работы: <a href="#"><b>CEO LDD "CODE.mba"</b></a></li>
							<li>Другие курсы автора: <a href="#"><b>Front-End</b> разработчик</a>, <a href="#">Создание сайтов</a></li>
							<li>Социальные профили:
								<ul>
									<li><a href="#"><i class="seoicon-social-facebook"></i></a></li>
									<li><a href="#"><i class="seoicon-social-twitter"></i></a></li>
									<li><a href="#"><i class="seoicon-social-linkedin"></i></a></li>
									<li><a href="#"><i class="seoicon-social-google-plus"></i></a></li>
									<li><a href="#"><i class="seoicon-social-pinterest"></i></a></li>
								</ul>
							</li>
						</ul>
						{{!-- ПОПАП "Задать вопрос" --}}
						<div id="question-popup" class="popup">
							<form>
								<input type="text" placeholder="Ваше Имя">
								<input type="text" placeholder="Ваш Email">
								<input type="text" placeholder="Ваш телефон">
								<textarea placeholder="Ваш вопрос"></textarea>
								<button class="btn">Задать вопрос<span class="semicircle"></span></button>
							</form>
							<a href="#" class="close-popup">
								<span></span>
								<span></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="it_education-description">
			<div class="container">
				<ul class="description-tab_control">
					<li><a href="#" role="tab">Описание курса</a></li>
					<li class="active"><a href="#" role="tab">Мнение об авторе (3)</a></li>
				</ul>
				<div class="row">
					<div class="col-md-12">
						<section class="description-course">
							<h3>Уровень <b>—</b> обучение с НУЛЯ</h3>
							<p>Привет! Более <b>10</b> лет я занимаюсь <b>WEB-</b>разработкой, а <b>3</b> года назад я начал обучать. Сначала это были работники моей компании (я создал список рекомендаций, по которым мои разработчики писали код в едином стиле), затем это было корпоративное обучение (мой список рекомендаций превратился в полноценную методичку) и наконец, я занялся частной практикой и обучил несколько десятков человек с НУЛЯ (один из студентов даже открыл свою студию).</p>
							<p>Проанализировав код, который пишут в компаниях где я побывал и отвечая на многочисленные вопросы студентов, я разработал <span>уникальную пошаговую методологию верстки адаптивных сайтов</span>. Методология самодостаточна, однако без знания <b>HTML/CSS —</b> это как ездить на машине без прав <b>—</b> все просто на прямой дороге, но в городе с оживленным движением можно легко попасть в аварию. И я задумался, как можно <span>быстро освоить <b>HTML</b> и <b>CSS</b> новичку</span> для работы с моей методологией.</p>
							<p>В этом курсе я разделили <b>HTML-</b>теги на <b>3</b> группы: строительные, типографика и формы <b>—</b> теперь легко понимать что где использовать, затем я собрал ТОП<b>-30</b> самых часто используемых <b>CSS-</b>практик, как результат <b>— 80%</b> работ выполняются <b>20%</b> знаний, и наконец, используя <b>Bootstrap</b> для адаптации <b>—</b> <span>скорость верстки увеличивается в <b>2-3</b> раза!</span> <br>Каждый из этих модулей (<b>HTML/CSS/Bootstrap</b>) я предлагаю вам изучить за <b>1</b> неделю <b>+ 2</b> недели методологии <b>+ 1</b> неделя основы <b>WEB</b>. Кроме того вас ждут интересные домашние задания, лабораторная и дипломная работы. <br><span>Курс рассчитан на <b>1,5-3</b><small>мес</small>.</span>(в зависимости от интенсивности обучения).</p>
							<p>В курсе даются все инструменты, которые требуют <span>при устройстве на работу в <b>IT-</b>компании.</span> Но инструменты это еще не все, вашим главным приемуществом перед другими соискателями на работу будет навык использования этих инструментов. В отличие от других новичков, которые придумывают собственные схемы верстки, вы сможете использовать методологию, обкатанную на сотнях проектах. Кроме того, не изобретая заново велостпед, вы сможете сосредоточиться на формировании своего собственного стиля кодинга, а не на придумывании <b>"</b>как лучше сверстать<b>"</b>.</p>
						</section>
						<section class="description-author">
							<h3>3 оценки для <span><b>&ldquo;</b>Алексеев Вадим<b>&rdquo;</b></span></h3>
							<ul class="comments">
								<li>
									<figure>
										<img src="img/reviews-avatar1.png" alt="">
									</figure>
									<ul class="raiting">
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									</ul>
									<a href="#" class="name">Jonathan Simpson</a>
									<a href="#" class="date">April 20, 2016</a>
									<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
								</li>
								<li>
									<figure>
										<img src="img/reviews-avatar2.png" alt="">
									</figure>
									<ul class="raiting">
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									</ul>
									<a href="#" class="name">Angelina Johnson</a>
									<a href="#" class="date">April 20, 2016</a>
									<p>Qothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
								</li>
								<li>
									<figure>
										<img src="img/reviews-avatar3.png" alt="">
									</figure>
									<ul class="raiting">
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									</ul>
									<a href="#" class="name">Philip Demarco</a>
									<a href="#" class="date">April 20, 2016</a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
								</li>
							</ul>
							<h4>Ваша оценка Автору:</h4>
							<ul class="raiting">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
							<form>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<input type="text" placeholder="Ваше Имя">
										<input type="text" placeholder="Ваш Email">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
										<textarea placeholder="Что вы думаете об Авторе?"></textarea>
									</div>
								</div>
								<button class="btn">Отправить<span class="semicircle"></span></button>
							</form>
						</section>
					</div>
				</div>
			</div>
		</div>

		<section class="it_education-price">
			<div class="container">


					<div class="row">
						<div class="col-lg-4 col-md-6 col-xs-12">
							<div class="price-item flat blue">
								<figure>
									<img src="img/pricing1.png">
								</figure>
								<h5>Самоучка</h5>
								<ul>
									<li><em><b>1</b> <small>год</small></em> доступа к материалам</li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em><b>36</b></em> ответов на домашки</li>
									<li><em>Диплом</em> принимает куратор</li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>Сертификат</em> <b>on-line</b></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
								</ul>
								<p><b>9.900</b> <small>руб.</small></p>
								<a href="#" class="btn">Купить сейчас<span class="semicircle"></span></a>
								<img src="img/pricing-dots.png" class="dots">
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-xs-12">
							<div class="price-item flat red" id="particle-js">
								<figure>
									<img src="img/pricing2.png">
								</figure>
								<h5>Интенсив</h5>
								<ul>
									<li><em>Пожизненный</em> доступ</li>
									<li><em><b>8</b></em> он-лайн вебинаров</li>
									<li><em><b>99</b></em> ответов на домашки</li>
									<li><em>Диплом</em> принимает автор</li>
									<li class="gold">Персональный куратор</li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>Рекомендация</em> от куратора</li>
									<li><em>Сертификат</em> <b>on-line</b></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
									<li><em>&nbsp;</em>-<em>&nbsp;</em></li>
								</ul>
								<strike><p><b>16.800</b> <small>руб.</small></p></strike>
								<p><b>14.500</b> <small>руб.</small></p>
								<a href="#" class="btn">Забронировать<span class="semicircle"></span></a>
								{{!-- <img src="img/pricing-dots.png" class="dots"> --}}
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-xs-12">
							<div class="price-item flat yellow">
								<figure>
									<img src="img/pricing3.png">
								</figure>
								<h5><b>1-</b><small>на</small><b>-1</b></h5>
								<ul>
									<li><em>Пожизненный</em> доступ</li>
									<li><em><b>8</b></em> он-лайн вебинаров</li>
									<li><em><b>300</b></em> ответов на домашки</li>
									<li><em>Диплом</em> принимает автор</li>
									<li class="gold">Персональный куратор</li>
									<li><em><b>6</b><small> часов</small></em> занятий с автором</li>
									<li><em>Исходники</em> проектов</li>
									<li><em>Рекомендация</em> от автора</li>
									<li><em>Сертификат</em> на почту</li>
									<li><em><b>+24</b></em> бонусных видео</li>
									<li class="gold">Хостинг на <b>CODE.mba</b></li>
								</ul>
								<p><b>42.100</b> <small>руб.</small></p>
								<a href="#" class="btn disabled">МЕСТ НЕТ<span class="semicircle"></span></a>
							</div>
						</div>
					</div>


			</div>


			{{!-- ПОПАП "ЗАПИСАТЬСЯ" --}}
			<div class="popup">
				<form>
					<input type="text" placeholder="Ваше Имя">
					<input type="text" placeholder="Ваш Email">
					<input type="text" placeholder="Ваш телефон">
					<button class="btn">Записаться<span class="semicircle"></span></button>
				</form>
				<a href="#" class="close-popup">
					<span></span>
					<span></span>
				</a>
			</div>
		</section>

		<section class="counter-red">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="counter-item">
							<span>42</span>
							<p>Дня минимальный срок обучения</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="counter-item">
							<span>36</span>
							<p>Домашних заданий разной сложности</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="counter-item">
							<span>3</span>
							<p>Проекта <b>"</b>под ключ<b>"</b> делает студент</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="counter-item">
							<span>214</span>
							<p>Мини видео<b>-</b>уроков включают все!</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="it_education-lessons">
			<div class="container">

				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						{{>extra/title it_education.body.html.lessons}}
					</div>
				</div>

<div class="cd-modal" data-modal="modal-trigger">
	<div class="cd-svg-bg"
	data-step1="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"
	data-step2="M33.8,690l-188.2-300.3c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1L959.6,110c0.1,0.1,0,0.3-0.1,0.3 L34.1,690.1C34,690.2,33.9,690.1,33.8,690z"
	data-step3="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"
	data-step4="M-329.3,504.3l-272.5-435c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1l272.5,435c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-329,504.5-329.2,504.5-329.3,504.3z"
	data-step5="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"
	data-step6="M476.4,1013.4L205,580.3c-0.1-0.1,0-0.3,0.1-0.3L1130.5,0.2c0.1-0.1,0.3,0,0.3,0.1l271.4,433.1c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C476.6,1013.6,476.5,1013.5,476.4,1013.4z">
		<svg height="100%" width="100%" preserveAspectRatio="none" viewBox="0 0 800 500">
			<title>SVG Modal background</title>
			<path id="cd-changing-path-1" d="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"/>
			<path id="cd-changing-path-2" d="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"/>
			<path id="cd-changing-path-3" d="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"/>
		</svg>
	</div>

	<div class="cd-modal-content">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
		</p>
	</div> <!-- cd-modal-content -->

	<a href="#0" class="modal-close">Close</a>
</div> <!-- cd-modal -->

<div class="cd-cover-layer"></div> <!-- .cd-cover-layer -->

				<div class="row">
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-box28.png" alt="">
							</figure>
							<h5>База</h5>
							<p>Введение в основы разработки, классификация технологий</p>
							<a href="#" id="modal-trigger" data-type="cd-modal-trigger">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-html.png" alt="">
							</figure>
							<h5><b>HTML</b></h5>
							<p>Понимание архитектуры документа, виды и предназночение тегов</p>
							<a href="#">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-css.png" alt="">
							</figure>
							<h5><b>CSS</b></h5>
							<p>Создание стилей, разбор ТОП самых часто используемых техник</p>
							<a href="#">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-b.png" alt="">
							</figure>
							<h5><b>Bootstrap</b></h5>
							<p>Использование модульной сетки и адаптация сайтов без усилий</p>
							<a href="#">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-box25.png" alt="">
							</figure>
							<h5>Методология</h5>
							<p>Пошаговая инструкция верстки или как писать чистый, поддерживаемый код</p>
							<a href="#">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
					<div class="col-lg-6">
						<section class="lesson-item">
							<figure>
								<img src="img/info-box28.png" alt="">
							</figure>
							<h5>Испытания</h5>
							<ul>
								<li><i class="seoicon-check"></i>cоздание своего сайта-визитки</li>
								<li><i class="seoicon-check"></i>верстка дизайн-макета <b>"</b>под ключ<b>"</b></li>
								<li><i class="seoicon-check"></i>переделка шаблона в лендинг</li>
							</ul>
							<a href="#">Программа модуля<i class="seoicon-right-arrow"></i></a>
						</section>
					</div>
				</div>

			</div>

			{{!-- ПОПАПЫ МОДУЛЕЙ КУРСА --}}
			<div class="popup">
				<h4>День <b>1</b></h4>
				<div class="heading-line">
					<span class="short-line"></span>
					<span class="long-line"></span>
				</div>
				<ul>
					<li>Урок <b>1</b> <b>–</b> Что такое Браузер?</li>
					<li>Урок <b>2</b> <b>–</b> История Браузеров</li>
					<li>Урок <b>3</b> <b>–</b> Обзор браузеров</li>
					<li>Урок <b>4</b> <b>–</b> <b>IP</b> и анонимность в Интернете</li>
					<li>Урок <b>5</b> <b>–</b> Инструменты разработчика</li>
					<li>Урок <b>6</b> <b>–</b> подключение расширений для <b>Chrome</b></li>
					<li>Урок <b>7</b> <b>–</b> программы для <b>screenshot-</b>ов</li>
				</ul>
				<h4>День <b>2</b></h4>
				<div class="heading-line">
					<span class="short-line"></span>
					<span class="long-line"></span>
				</div>
				<ul>
					<li>Урок <b>1</b> <b>–</b> редакторы кода</li>
					<li>Урок <b>2</b> <b>–</b> установка <b>Sublime</b></li>
					<li>Урок <b>3</b> <b>–</b> модули для <b>Sublime</b></li>
					<li>Урок <b>4</b> <b>–</b> настройка <b>Sublime</b></li>
				</ul>
				<h4>День <b>3</b></h4>
				<div class="heading-line">
					<span class="short-line"></span>
					<span class="long-line"></span>
				</div>
				<ul>
					<li>Урок <b>1</b> <b>–</b> хостинг, домены, <b>DNS</b></li>
					<li>Урок <b>2</b> <b>–</b> устанавливаем локальный сервер</li>
					<li>Урок <b>3</b> <b>–</b> работа с панелью управления хостингом</li>
					<li>Урок <b>4</b> <b>–</b> работа с <b>FileZilla</b></li>
				</ul>
				<h4>День <b>4</b></h4>
				<div class="heading-line">
					<span class="short-line"></span>
					<span class="long-line"></span>
				</div>
				<ul>
					<li>Урок <b>1</b> <b>–</b> Как искать решения в гугле</li>
					<li>Урок <b>2</b> <b>–</b> <b>13</b> способов как гуглить</li>
					<li>Урок <b>3</b> <b>–</b> Гугл тренды</li>
					<li>Урок <b>4</b> <b>–</b> Хром эксперементы</li>
					<li>Урок <b>5</b> <b>–</b> Сайты для вдохновения</li>
				</ul>
				<h4>День <b>5</b></h4>
				<div class="heading-line">
					<span class="short-line"></span>
					<span class="long-line"></span>
				</div>
				<ul class="last">
					<li>Урок <b>1</b> <b>–</b> этапы разработки <b>Web-</b>проекта</li>
					<li>Урок <b>2</b> <b>–</b> отличия <b>Front-End</b> от <b>Back-End</b></li>
					<li>Урок <b>3</b> <b>–</b> классификация технологий</li>
					<li>Урок <b>4</b> <b>–</b> сайты для обучения</li>
					<li>Урок <b>5</b> <b>–</b> сайты для фриланса</li>
				</ul>
				<a href="#" class="close-popup">
					<span></span>
					<span></span>
				</a>
			</div>
		</section>

		<section class="testimonials-slider testi-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-xs-12">
						{{>extra/title it_education.body.html.testimonials-1}}
					</div>
					<div class="col-lg-7 offset-lg-1 col-xs-12">
						{{#carousel testimonials.base i="1" class="js-carousel"}}
							{{>testimonial face_top="true" class="testimonials creative"}}
						{{/carousel}}
						<ul class="carousel-dots">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li class="active"><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
						<ul class="carousel-arrows">
							<li class="btn-prev">
								<svg></svg>
							</li>
							<li class="btn-next">
								<svg></svg>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="decor">
				<img src="img/testimonial2.png" alt="image">
			</div>
		</section>

		<section class="it_education-advantages">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						{{>extra/title it_education.body.html.advantages}}
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6 col-xs-12">
						<section class="advantage-items">
							<h4>Видеовстречи</h4>
							<p>Еженедельные <b>"</b>разборы полетов<b>"</b> с автором курса, мастeр-классы <br>и ответы на вопросы</p>
							<figure>
								<img src="img/info-box11.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<section class="advantage-items">
							<h4>Шпаргалки</h4>
							<p>МИНИ-памятки <b>HTML/CSS</b> свойст, коллекция СУПЕР-скриптов <br>и <b>100%</b> нужные ссылки</p>
							<figure>
								<img src="img/info-box16.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-xs-12">
						<section class="advantage-items">
							<h4>Куратора</h4>
							<p>Персональный наставник, который всегда улыбается вам, внимателен и доступен на связи <b>24/7</b></p>
							<figure>
								<img src="img/info-box21.png" alt="">
							</figure>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6 col-xs-12">
						<section class="advantage-items">
							<h4>Резюме</h4>
							<p>После прохождение курса мы поможем грамотно составить <br>и опубликовать <b>on-line</b></p>
							<figure>
								<img src="img/info-box14.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<section class="advantage-items">
							<h4>Свободу</h4>
							<p>Набор этих навыков позволит тебе зарабатывать деньги без привязки к месту и времени работы</p>
							<figure>
								<img src="img/info-box22.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-xs-12">
						<section class="advantage-items">
							<h4>Связи</h4>
							<p>Сообщество единомышленников, где можно спросить совета, найти команду или подзаработать</p>
							<figure>
								<img src="img/info-box13.png" alt="">
							</figure>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6col-xs-12">
						<section class="advantage-items">
							<h4>Портфолио</h4>
							<p>Вы приобретаете <b>2</b> коммерческих навыка и получаете <b>+2</b> работы высокого качества</p>
							<figure>
								<img src="img/info-box18.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<section class="advantage-items">
							<h4>Рекомендацию</h4>
							<p>На каждого студента составляется характеристика <b>on-line</b> и выдается рекомендательное письмо</p>
							<figure>
								<img src="img/info-box19.png" alt="">
							</figure>
						</section>
					</div>
					<div class="col-lg-4 col-xs-12">
						<section class="advantage-items">
							<h4>Сертификат</h4>
							<p>Документ с личным <b>ID</b>, подлинность и статус которого можно проверить у нас на сайте</p>
							<figure>
								<img src="img/eye.png" alt="">
							</figure>
						</section>
					</div>
				</div>

			</div>
		</section>

		<section class="testimonials-slider testi-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						{{#carousel testimonials.base class="js-carousel"}}
							{{>testimonial face_top="true" class="testimonials venge"}}
						{{/carousel}}
					</div>
				</div>
			</div>
		</section>

		<section class="it_education-faq">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						{{>extra/title it_education.body.html.faq-title}}
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-12">
						<ul class="faq-questions">
							{{#repeat it_education.body.html.faq 0 4 1}}
							<li>
								<a href="#">
									<span>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
										<i class="fa fa-angle-down active" aria-hidden="true"></i>
									</span>
									<span>{{{question}}}</span>
								</a>
								<p class="faq-answer">
									{{{answer}}}
								</p>
							</li>
							{{/repeat}}
						</ul>
					</div>
					<div class="col-lg-6 col-md-12">
						<ul class="faq-questions">
							{{#repeat it_education.body.html.faq 4 8 1}}
							<li>
								<a href="#">
									<span>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
										<i class="fa fa-angle-down active" aria-hidden="true"></i>
									</span>
									<span>{{{question}}}</span>
								</a>
								<p class="faq-answer">
									{{{answer}}}
								</p>
							</li>
							{{/repeat}}
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h4>Как я смогу понять, что мне подходит именно этот курс?</h4>
					</div>
					<div class="col-lg-6 col-md-12">
						<ul class="faq-items true">
							{{#each it_education.body.html.desigion.yes}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					</div>
					<div class="col-lg-6 col-md-12">
						<ul class="faq-items false">
							{{#each it_education.body.html.desigion.no}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-12">
						<ul class="faq-questions">
							{{#repeat it_education.faq 0 4 1}}
							<li>
								<a href="#">
									<span>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
										<i class="fa fa-angle-down active" aria-hidden="true"></i>
									</span>
									<span>{{{question}}}</span>
								</a>
								<p class="faq-answer">
									{{{answer}}}
								</p>
							</li>
							{{/repeat}}
						</ul>
					</div>
					<div class="col-lg-6 col-md-12">
						<ul class="faq-questions">
							{{#repeat it_education.faq 4 8 1}}
							<li>
								<a href="#">
									<span>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
										<i class="fa fa-angle-down active" aria-hidden="true"></i>
									</span>
									<span>{{{question}}}</span>
								</a>
								<p class="faq-answer">
									{{{answer}}}
								</p>
							</li>
							{{/repeat}}
						</ul>
					</div>
				</div>

			</div>
		</section>

		<div class="popup-overlay"></div>

	{{/content}}
{{/extend}}
