<blockquote{{#if class}} class="{{class}}"{{/if}}>
	{{#if face_top}}
		<figure>
	        <img src="{{photo}}" alt="{{name}}">
	    </figure>
	{{/if}}
	<p>{{title}}</p>
    <footer>
    	{{#if face_bottom}}
			<figure>
		    	<img src="{{photo}}" alt="{{name}}">
			</figure>
    	{{/if}}
        <cite>
            <a href="#">{{name}}</a>
            <span>{{place}}</span>
        </cite>
    </footer>
</blockquote>